html , body {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin: 0;
  width: 100%;
  background-color: #3f1b0f;
  position: relative;
}

.quant_in{
  width: 100%;
  height:100%;
  position: fixed;
}

.jharokha_in{
  width: 100%;
  height: 82%;
  position: absolute;

}

.jharokhain_img{
  width: 100%;
  height:100%;
}

.margin_top{
  width: 100%;
  height: 17%;
}

.topin_logo{
  width: 100%;
  height: 25%;
}
.logo_in{
 width: 100%;
 height: 40%;
 display: block;
 text-align: center;
 position: relative;
}

.logoin_img{
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: scale-down;
  margin-left: auto;
  margin-right: auto;

}

.renlogo_in{
  width: 100%;
  height: 60%;
  display: block;
  text-align: center;
  position: relative;
}

.renin_img{
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 509px;
  object-fit: fill;
}

@media only screen and (max-width: 900px){
  .renlogo_in{
    width: 57%;
    margin-left: auto;
    margin-right: auto; 
  }

  .logo_in{
    width: 17%;
    margin-left: auto;
    margin-right: auto; 
  }
}
.mid_in{
  width: 100%;
  height: 50%;
  margin-top: 5%;
  display: block;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

.frame1{
  position: relative;
}

.frame1_img{
  height: 100%;
  width: 100%;
  position: relative;
}
.frame1_icon{
  position: absolute;
  width: 80%;

}

.owl-item.center > div:after {
  content: '';
}
.owl-item.active.center > div:after {
  content: '';
}
.owl-item > div:after {
  font-family: sans-serif;
  font-size: 24px;
  font-weight: bold;
}


.img-fluid1{
  height: 150px;
  width: auto;
}

.topframe_left{
  position: relative;
  width: 100%;
  top: 61px;
  max-width: 100%;
  max-height: 100%;
}

.topframe_right{
  position: relative;
  width: 100%;
  top: 61px;
  max-width: 100%;
  max-height: 100%;
}

.top_left {
  position: relative;
  width: 10%;
  height: 100%;
  margin-left: 22px;
  float: left;
}

.top_right{
  position: relative;
  width: 10%;
  height: 100%;
  margin-right: 22px;
  float: right;
}